.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.eslintrc.js
tsconfig.json
webpack.config.js
.DS_Store
**/*.test.js
**/*.test.ts
test/**
**/test/**
node_modules/**
*.vsix
.github/**
docs/**
TESTING.md
PUBLISHING.md
npm-debug.log
.nyc_output
coverage